@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">

    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Developer: Pauras Chavan</h3>

    <address>
        <strong>Address:</strong>
        A-310, Om Namo Guridatta Krupa Society,<br /> Sagao, Dombivali (East).
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:pauraspchavan01@gmail.com">pauraspchavan01@gmail.com</a><br />
        <strong>Contact:</strong> +91 9146276322
    </address>
</main>