@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1 class="display-4">Welcome to Nimap Infotech Task</h1>
    <p class="lead">A simple web application that demonstrates full-stack development skills using ASP.NET MVC and ADO.NET.</p>
    <hr class="my-4">
    <p>Explore the key features of the application:</p>
    <ul>
        <li>Manage categories and products</li>
        <li>Implement CRUD operations for products and categories</li>
        <li>Efficient data handling with pagination</li>
    </ul>
    
</div>

